@page "/error"

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
<div class="container d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">500</span>
                <div class="display-4 mb-4 lead">Internal server error.</div>
                <p class="lead text-center">We're unable to fulfill your request. Please refresh your browser. If the error continues, 
                    please contact <a href="#">support</a>.</p>
                <a href="/" class="btn btn-primary btn-lg">Back to Home</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>
