@page "/login"
@inherits FinanceAccounting.WebUI.Pages.Authentication.BaseClasses.LoginBase

<h3>Login</h3>

@if (ShowError)
{
    <div class="alert alert-danger" role="alert">
        <p>@ErrorMessage</p>
    </div>
}

<EditForm Model="_authenticationRequest" OnValidSubmit="ExecuteLogin" class="card card-body bg-light mt-3">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="username" class="col-md-2 col-form-label">Email:</label>
        <div class="col-md-10">
            <InputText id="username" class="form-control" @bind-Value="_authenticationRequest.UserName" />
            <ValidationMessage For="@(() => _authenticationRequest.UserName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-md-2 col-form-label">Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="_authenticationRequest.Password" />
            <ValidationMessage For="@(() => _authenticationRequest.Password)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <button type="submit" class="btn btn-success">Log in</button>
        </div>
    </div>
</EditForm>