<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity!.Name
        <a href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-success" href="registration">Register</a>
        <a class="btn btn-outline-primary" href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
