@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthLinks />
        </div>

        <div class="content px-3 container">
            @Body
        </div>
    </div>
</div>
