@page "/categories/edit/{id}"
@inherits FinanceAccounting.WebUI.Pages.Categories.BaseClasses.EditCategoryBase
@attribute [Authorize]

<h3>Edit Category</h3>

@if (ShowError)
{
    <div class="alert alert-danger" role="alert">
        <p>@ErrorMessage</p>
    </div>
}

@if (_category != null)
{
    <EditForm Model="_category" OnValidSubmit="UpdateCategory" class="card card-body bg-light mt-3">
        <DataAnnotationsValidator />
        <div class="form-group row">
            <label for="category-name" class="col-md-2 col-form-label">Category name:</label>
            <div class="col-md-10">
                <InputText id="category-name" class="form-control" @bind-Value="_category.Name"/>
                <ValidationMessage For="@(() => _category.Name)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </EditForm>
}
else if (_loadFailed)
{
    <h1>Sorry, we could not load category due to an error.</h1>
}
else
{
    <div class="spinner"></div>
}